.markdown--render>*:first-child {
  margin-top: 0;
}

.markdown--render table {
  display: block;
  white-space: normal;
  overflow-x: auto;
  width: max-content;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown--render th, .markdown--render td {
  padding: 9px 13px;
  border: 1px solid var(--table-border);
}

.markdown--render tr:nth-child(2n) {
  background-color: var(--table-odd-row);
}
.markdown--render tr:nth-child(2n+1) {
  background-color: var(--table-even-row);
}

.markdown--render code {
  display: inline-block;
  border: 1px solid var(--keyword-border);
  background: var(--keyword-bg);
  border-radius: 0.25em;
  box-sizing: border-box;
  padding: 0 0.25em;
  background: transparent;
  transition: background 0.4s;
  user-select: none;
}
.markdown--render pre {
  background: var(--code-bg);
  padding: 0.25em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}
.markdown--render pre>code {
  display: block;
  border: 1px solid var(--code-border);
  color: var(--code-fg);
  border-radius: initial;
  user-select: initial;
}
.markdown--render code.copied {
  background: var(--accent);
  transition: none;
}

.markdown--render hr {
  border: none;
  border-bottom: 1px solid var(--accent);
}