.note {
  background: var(--note-bg);
}
.note>.layout__content {
  display: flex;
  flex-direction: column;
}
.note__main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}
.note__heading {
  z-index: 5;
  display: flex;
}
.note__title {
  font-family: var(--system-fonts);
  background: transparent;
  padding: 0.3125rem;
  border: none;
  width: 100vw;
  flex: 0 1 auto;
  resize: none;
  color: inherit;
  font-size: 1.25rem;
  line-height: 2rem;
  height: 2.625rem;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
.note__editor, .note__content {
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1 1 auto;
}
.note__editor {
  border: none;
	background: #ECE5DD;
  font-family: var(--mono-fonts);
  font-size: 0.75rem;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 3;
  resize: none;
  width: 100vw;
}

.note__content {
  padding: 0 0.5rem;
}

.note__placeholder {
  font-size: 0.8rem;
  color: var(--placeholder-text);
}

.status {
  height: 1rem;
  font-size: 0.66em;
}
