:root {
  --system-fonts: "Ubuntu", "Segoe UI", "Helvetica Neue", "San Francisco", sans-serif;
  --mono-fonts: "Fira Code", "Consolas", monospace;
  --note-bg: #ECE5DD;
  --placeholder-text: #AAA;
  --hovered-icon: #DDC;
  --chrome-symbols: #111;
}