.menu {
	color: var(--title-bar-fg);
	user-select: none;
	display: flex;
	flex: 0 1 auto;
}

.menu__item {
  width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	user-select: none;
	position: relative;
	box-sizing: border-box;
	z-index: 2;
	flex: 0 1 auto;
}

.menu__item:hover {
	background-color: var(--hovered-icon);
}